<div class="contactss">
<h1 >CONT<span class="aboutme">ACT</span></h1>
<div class="container">
    <div class="row">
        <div class="col-md-4 r1 p-5 ">
        <div class="icons d-flex flex-column">
            <h3 class="p-1 fw-bolder">Get In Touch</h3>
            <div class="icons1">
            <span class="ci d-flex align-items-center"><mat-icon class="demo p-2">call</mat-icon>9096245192</span>
            <span class="ci d-flex align-items-center"> <mat-icon class="demo p-2">email</mat-icon>psannake13@gmail.com</span>
            <span class="ci d-flex align-items-center"> <mat-icon class="demo p-2">home</mat-icon>A/p:Jaysingpur. </span>
        </div>
        </div>
        </div>
        <div class="col-md-8 p-5">
            <form #Cform="ngForm" (submit)="handleSave(Cform)">
                <div class="row mb-3">
                    <div class="col-md-4">
                    <input type="text" placeholder="Your Name" class="mb-3" name="name" [(ngModel)]="Contacts.name">
                    </div>
                    <div class="col-md-4">
                    <input type="text" placeholder="Your Email" class="mb-3" name="email" [(ngModel)]="Contacts.email">
                    </div>
                    <div class="col-md-4">
                    <input type="text" placeholder="Your Contact" class="mb-3" name="contact" [(ngModel)]="Contacts.contact">
                    </div>
                </div>
                <div class="row mb-3">
                    <textarea  cols="150" rows="8" placeholder="Your Message...." name="message" [(ngModel)]="Contacts.message"></textarea>
                </div>

                <button class="my-2 p-2" type="submit">Send Message</button>
            </form>
        </div>
    </div>
</div>
<div class="loaders" *ngIf="loader">
    <mat-spinner></mat-spinner>
</div>
</div>